/*pagina de inicio*/
*{margin: 0;
  padding: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

header{
    background-color: #F0B5B1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
}


header nav {
    width: 100%; 
}
    


header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right; 
    padding: 0;
}
  


nav ul li a:hover {
    color: #ff0066; 
}

.h1index{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 30px 0 5px 0;
}

.h1index:hover {
    color: #ff0066; 
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 40px;

}



/*Seccion*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

section img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;

}

section h2 {
    
    margin-top: 50px;
    color: #F0B5B1;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 0;  
}

section p {
    color: #F0B5B1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}


   /*Footer*/

  
  main {
    flex: 1;
  }

footer {
    background-color: #F0B5B1;
    color: white;
    padding: 10px 20px;
    margin-top: auto; /* Empuja el footer hacia la parte inferior */
  }
  
  footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  footer ul li {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 0 20px;
  }

  /*Cuentos*/


.h3cuento{
    margin-top: 50px;
    color: #F0B5B1;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px ;
}

.titulos { 
    text-decoration: none;     
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 30px 0 5px 0;
}

.atextonone{
    text-decoration: none;
    }

    .contenedor  {
        max-width: 800px; 
        margin: 0 auto; 
        padding: 0 20px; 
    }
    
    p {
        margin-bottom: 20px; 
    }
    

    /*Sobre Mi*/

    
        
    
    
    .contenido {
        display: flex;
        align-items: center;
    }

    
    h2 {
        margin-left: 40px;
        color: #F0B5B1;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 40px;

    }
    
    img {
        width: 300px; 
        height: auto; 
        margin-top: 60px;
        margin-left:70px;
        margin-bottom: 30px;
        margin-right: 70px;

    }
    .pestañasobremi p {
        margin-right: 70px; /* Ajusta el espacio deseado en el margen derecho del párrafo */
    }